.jui-btn {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.75rem;
    text-align: center;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    background-color: rgb(28, 155, 219);
    color: #fff;
    outline: none;
    border: none;
}

.jui-btn:hover {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    filter: brightness(1.25);
}

.jui-btn:disabled {
    background-color: #c0c0c0;
    border-color: #c0c0c0;
    color: #f0f0f0;
    cursor: not-allowed;
}

.jui-btn:disabled:hover {
    box-shadow: none;
    filter: brightness();
}