@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    font-family: "Poppins", sans-serif;
}

.jui-sidebar-wrpaer {
    position: fixed;
    width: 60px;
    top: 0px;
    height: 100vh;
    z-index: 98;
    overflow: hidden;
    transition: width 0.5s ease;
    padding-top: 1.5rem;
    background-color: #002E6D;
}

.jui-sidebar-wrpaer.expand {
    width: 250px;
}

.jui-sidebar-wrpaer ul {
    margin: 0;
    padding: 0;
}

.jui-sidebar-wrpaer ul li {
    list-style-type: none;
    display: block;
    transition: padding 0.5s ease;
    cursor: pointer;
}

.jui-sidebar-wrpaer>ul>li {
    padding: 0rem 5px;
}

.jui-sidebar-wrpaer.expand>ul>li {
    padding: 0rem 0.8rem;
}

.jui-sidebar-wrpaer ul li ul li a {
    border-radius: 5px;
    font-size: 13px;
}

.jui-sidebar-wrpaer.expand ul li ul li {
    padding: 0rem 0rem;
}

.jui-sidebar-wrpaer ul li a {
    border-radius: 5px;
    padding: 0.8rem 1rem;
    color: #ffffff;
    text-decoration: none;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    position: relative;
    margin-bottom: 10px;
    font-size: 14px;
}

.jui-sidebar-wrpaer>ul>li>a {
    background: #FFFFFF26;
}

.jui-sidebar-wrpaer ul li a .menu-dropdown-icon {
    visibility: hidden;
    transform: rotate(-90deg);
    transition: transform 0.3s;
}

.jui-sidebar-wrpaer ul li a .menu-dropdown-icon.toggle-menu {
    transform: rotate(0deg);
}

.jui-sidebar-wrpaer.expand ul li a .menu-dropdown-icon {
    visibility: visible;
}

.jui-sidebar-wrpaer ul li a:hover {
    background-color: #FFFFFF26;
}

.jui-sidebar-wrpaer ul li a .menu-icon-wraper {
    width: 20px;
    display: inline-block;
    display: flex;
    justify-content: center;
}

.jui-sidebar-wrpaer ul li a .menu-icon-wraper svg {
    font-size: 1rem;
}

.jui-sidebar-wrpaer ul li ul li a .menu-icon-wraper svg {
    font-size: 0.8rem;
}

.jui-sidebar-wrpaer.expand ul li a .menu-content {
    position: absolute;
    visibility: visible;
}

.jui-sidebar-wrpaer ul li a .menu-content {
    transition: left 0.5s;
    position: absolute;
    width: calc(100% - 60px);
    left: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    visibility: hidden;
}

.jui-sidebar-wrpaer ul li ul li a.active {
    background-color: #0b1b31;
    overflow: hidden;
}

.jui-sidebar-wrpaer ul li ul li a.active:hover {
    background-color: #0b1b31;
    color: #ffffff;
}

.jui-sidebar-wrpaer ul li ul li a.active::before {
    position: absolute;
    content: "";
    width: 2px;
    height: 100%;
    background-color: #59B7DE;
    left: 0px;
    border-radius: 5px 0 0 5px;
}

.p-tooltip {
    margin-left: 10px;
}

.p-tooltip-text {
    font-size: 13px;
}

.jui-sidebar-wrpaer ul ul {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.6s ease-in-out;
}

.jui-sidebar-wrpaer ul ul.toggle-menu {
    max-height: 700px;
    overflow: hidden;
}

.jui-sidebar-wrpaer ul li a {
    position: relative;
}

.jui-sidebar-wrpaer ul li a .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #151616c9;
    color: #fff;
    text-align: center;
    font-size: 14px;
    border-radius: 6px;
    padding: 5px 0;
    position: fixed;
    z-index: 1;
    left: 80px;
}

.jui-sidebar-wrpaer ul li a .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #151616c9 transparent transparent;
}

.jui-sidebar-wrpaer ul li a:hover .tooltiptext {
    visibility: visible;
}

.jui-sidebar-wrpaer ul li ul li a:hover .tooltiptext {
    visibility: visible;
}